[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/fuji"]
    path = themes/fuji
    url = https://github.com/amzrk2/hugo-theme-fuji.git